<div id="contact" class="container">
<div class="jumbotron">
<h3 class="text-center">Employment</h3>
  
<ul class="list-group">
<p><em><h5>Anointed Blessing Cleaning Service offers various kinds of working opportunities with our company. Please click the button below to discuss the opportunity that best fits your experience and desired working relationship with our HR
<br /></em></p></h5>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Contract-Labor-Provider_zpspyzllgdm.jpg" class="thumbnail" alt="labor">
  </div>
  ...
</div>
<p><h5>We hire for the following positions on a regular bases:</h5></p>
<ul>
<li>Janitorial staff</li>
<li>Account managers</li>
<li>Supervisors</li>
<li>Cleaners</li>
<li>Housekeepers</li>
<li>Pool cleaner</li>
<li>and many more</li>
</ul>
 
<p><button class="btn" data-toggle="modal" data-target="#myModal"><%= link_to "Find Out Now!", new_contact_path %></button></p>
</div>
</div>


