<!-- Container (About Us Section) -->
<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">ABOUT US</h3>
    <ul class="list-group">
Anointed Cleaning Service is a commercial cleaning business that began soaking up its experience in the janitorial and custodial cleaning industry over 20 years ago, by a sole proprietor, Mr. Kay. Kay’s accomplishments in the janitorial industry can be attributed to the extensive training by Mr. J. Knoepker, the founder of Hotel Cleaning Services, Inc. one of the leading hotel cleaning services in North America. Anointed Cleaning Service Inc. services a wide range of commercial outlets; from hotels and resorts to corporate offices and restaurants. The company will provide each client with a broad outsourced solution for their janitorial essentials. Anointed Cleaning Service can work with almost any budget.<br><em><b>Our objectives:</em></b></br> 
<ul>
<li>To create a service based company whose primary goal is to exceed our client’s expectations</li>
<li>To maintain the utilization of Anointed Cleaning Service on a regular basis by the majority of our contacts</li>
<li>And ultimately conduct outstanding services in an environmentally sound, completely trustworthy and professional manner.</li></ul>
<br />
<li class="list-group-item"><span class="badge"></span></li>
    </ul>
    <div class="row text-center">
      <div class="col-sm-4">
<div class="thumbnail">
          <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/paris_zpskbur4bls.jpg" alt="Paris" width="400" height="300">
          <p><strong>Performance</strong></p>
          <p>For outstanding performance</p>
          <button class="btn" data-toggle="modal" data-target="#myModal"><%= link_to "Call Anointed", new_contact_path %></button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/sanfran_zpszyuvrf4l.jpg" alt="New York" width="400" height="300">
          <p><strong>Excellence</strong></p>
          <p>For excellent services</p>
          <button class="btn" data-toggle="modal" data-target="#myModal"><%= link_to "Call Anointed", new_contact_path %></button>
        </div>
      </div>
<div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/newyork_zpsknvzfbuz.jpg" alt="San Francisco" width="400" height="350">
          <p><strong>Integrity</strong></p>
          <p>When Integrity is at stake</p>
          <button class="btn" data-toggle="modal" data-target="#myModal"><%= link_to "Call Anointed", new_contact_path %></button>
        </div>
      </div>
    </div>
  </div>

