<!-- Container (Home Section) -->
<div id="tour" class="bg-1">
  <div class="container">
    <h2 class="text-center">Home Page!</h2><br />
        <h5 class="text-center"><em>Welcome to Anointed Blessing Kitchen<br>
cleaning specialist home page<br>We provide a variety of specialized services including the following:</em></h5></br>
    <ul class="list-group">


<li class="list-group-item"><span class="badge"></span></li>
    </ul>

          <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Carpet-Care-Extraction_zpsiij2i1ym.jpg" alt="Hotel cleaning" width="400" height="300">
            <p><strong>Casino & Hotel Cleaning</strong></p>
            <strong><p>Spa Cleaning and Sanitation</p>
			<p>Restaurant Cleaning</p></strong>
			<p><strong>Hard Surface Floor Care</strong></p>
          <button class="btn" data-toggle="modal" data-target="#myModal"><%= link_to "Call Anointed", service_path %></button>
        </div>
      </div>


          <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Commercial-Kitchen-Cleaning_zpsxnbfgp79.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>Commercial Kitchen Cleaning</strong></p>
		  <p><strong>Escalator Cleaning</strong></p>
		  <p><strong>Commercial Office Cleaning</strong></p>
		  <p><strong>Hard Surface Floor Care</strong></p>
          <button class="btn" data-toggle="modal" data-target="#myModal"><%= link_to "Call Anointed", service_path %></button>
        </div>
      </div>


	   <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Restroom-Cleaning-and-Sanitation_zps3dkxxbsm.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>Restroom Cleaning and Sanitation</strong></p>
		  <p><strong>Escalator Cleaning</strong></p>
		  <p><strong>Hard Surface Floor Care</strong></p>
		  <p><strong>LEED Building Services</strong></p>
          <button class="btn" data-toggle="modal" data-target="#myModal"><%= link_to "Call Anointed", service_path %></button>
</div>
      </div>
</div>
</div>
<br />
	  <div class="pull-center"><button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to "Click to learn more about Our Services", new_contact_path %></button>
</div>
