<!-- Container (Services Section) -->
<div id="band" class="container text-center">
  <h3>Our Services</h3>
  <p><em>We promise to make em spackle!</em></p>
  <p> Anointed Hotel Resorts and commercial Cleaning Services consists of an expert management team dedicated to the needs of the hospitality industry. All crew members of Hotel Cleaning Services are extensively and continuously trained in all areas of cleaning to ensure proper technique providing high quality results in the following areas:</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Resort & Hotel Cleaning</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Spa-Cleaning-and-Sanitation_zpsee6mlvis.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p> One of the main drivers of customer satisfaction in hotels and resorts is cleanliness. Hotel Cleaning Services has spent over 25 years perfecting our service processes in the area of hospitality cleaning. Our dedicated, highly trained staff, will make a marked difference in the cleanliness level of your property. We handle the cleaning chores for you in every area including your front lobby areas, guest and employee restrooms, back of house service hallways, kitchens, restaurants and spas. We also specialize in carpet cleaning and hard floor care including stripping and waxing and marble maintenance and restoration. You will be completely satisfied with the results we provide. Please contact us to today for a no cost, no obligation cleaning proposal.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Hard Surface Floor Care</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Resort-Hotel-Cleaning_zpsshmwirly.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Image is everything in the Hospitality Industry and you want your hard floor surfaces, both front and heart of house, to reflect a proper image. Hotel Cleaning Services provides professional hard surface floor protocols to enhance the look of your marble, limestone, terrazzo, wood, vinyl composite tile and other hard floor surfaces. From scrubbing and recoating, to stripping and refinishing, to sanding and polishing, Hotel Cleaning Services is your resource for all your hard floor care needs. We utilize the latest in floor equipment, cleaning chemicals and coatings to give your floors an unmatched luster.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Restroom Cleaning and Sanitation</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Restroom-Cleaning-and-Sanitation_zps3dkxxbsm.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
<p>Your guest and employee restrooms tend to be the most heavily used areas in your property. Cleanliness and sanitation in these areas stands at the top of guest satisfaction and employee morale. Hotel Cleaning Services understands the critical importance of keeping your restrooms looking their best. Our team of restroom experts will address every detail of cleanliness in your facilities, and will give you peace of mind, knowing that your restrooms are clean, safe and sanitary each and every day.
                </p>
      </div>
    </div>
        <div class="col-sm-4">
      <p class="text-center"><strong>Name</strong></p><br>
      <a href="#demo4" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Commercial-Kitchen-Cleaning_zpsxnbfgp79.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p>We understand that restaurant cleanliness is paramount to the success of your establishment.From the dining room, to the bar, to the commercial kitchen, we will make your facility shine.
                <br>We stand ready to service your needs. Please contact us today for your free quote</p>
      </div>
    </div>

<div class="col-sm-4">
      <p class="text-center"><strong>Commercial Office Cleaning</strong></p><br>
      <a href="#demo5" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Commercial-Office-Cleaning_zpsrq7r5oim.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo5" class="collapse">
        <p>We are your one stop shop for all things janitorial. We handle everything form hard floor cleaning and carpet care and extraction, to general cleaning and dusting, restroom cleaning and sanitation and interior glass cleaning.
                <br>We utilize state of the art cleaning equipment and chemicals and we have the dedicated staff to handle any job.</p>
      </div>
    </div>

        <div class="col-sm-4">
      <p class="text-center"><strong>Commercial Kitchen Cleaning</strong></p><br>
      <a href="#demo6" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Stone-Marble-Maint-Restoration_zpsimcuka5z.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo6" class="collapse">

 <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Stone-Marble-Maint-Restoration_zpsimcuka5z.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo6" class="collapse">
        <p>Commercial kitchen cleaning is critical to the overall guest experience. When your guests dine in your restaurant, you want the peace of mind to know that the product being produced in your kitchen has been prepared in a thoroughly clean and sanitary environment. Hotel Cleaning Services has the expertise to provide that environment. Our dedicated staff will take the hassle out of kitchen cleanliness. And we can address it all, from breaking down and detail cleaning all kitchen equipment and ovens, to cleaning hoods and filters, to scrubbing walls, floors and floor drains, to cleaning ceiling vents. Your culinary team should have one concern and that is producing the best food possible for your guests. Hotel Cleaning Services will set your culinary team up for success by providing a clean, safe and sanitary kitchen environment to work in, each and every day.
                <br>Your free quote is only a phone call away</p>
      </div>
    </div>

  </div>
</div>

