<!-- Container (Services Section) -->
<div id="band" class="container text-center">
  <h3>Our Services</h3>
  <p><em>We promise to make em sparkle!</em></p>
  <p> Anointed Blessing Hotel and commercial Cleaning Services consists of an expert management team dedicated to the needs of the hospitality industry. <br />
  All crew member of Anointed Blessing  are extensively and continuously trained <br />in all areas of cleaning to ensure proper technique providing high quality results in the following areas:</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Casino & Hotel Cleaning</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Resort-Hotel-Cleaning_zpsshmwirly.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
	 <p> One of the main drivers of customer satisfaction in hotels and Casino is cleanliness. Hotel Cleaning Services has spent over 20 years perfecting our service processes in the area of hospitality cleaning. 
	 <br />Our dedicated, highly trained staff, will make a marked difference in the cleanliness level of your property. 
	 <br />We handle the cleaning chores for you in every area including your front lobby areas, guest and employee restrooms, back of house 
	 <br />service hallways, kitchens, restaurants and spas. We also specialize in carpet cleaning and hard floor care including stripping and waxing and marble maintenance and restoration. 
	 <br />You will be completely satisfied with the results we provide. Please contact us to today for a no cost, no obligation cleaning proposal.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Hard Surface Floor Care</strong></p><br>
      <a href="#demo2" data-toggle="collapse"> 
	  <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Hard-Surface-Floor-Care_zps9r4fjks9.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Image is everything in the Hospitality Industry and you want your hard floor surfaces, both front and heart of house, to reflect a proper image. Hotel Cleaning Services provides professional hard surface floor protocols to enhance the look of your marble, limestone, terrazzo, wood, vinyl composite tile and other hard floor surfaces. From scrubbing and recoating, to stripping and refinishing, to sanding and polishing, Hotel Cleaning Services is your resource for all your hard floor care needs. We utilize the latest in floor equipment, cleaning chemicals and coatings to give your floors an unmatched luster.</p>
      </div>
	   </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Restroom Cleaning and Sanitation</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Restroom-Cleaning-and-Sanitation_zps3dkxxbsm.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
<p>Your guest and employee restrooms tend to be the most heavily used areas in your property. 
<br />Cleanliness and sanitation in these areas stands at the top of guest satisfaction and employee morale. 
<br />Hotel Cleaning Services understands the critical importance of keeping your restrooms looking their best. 
<br />Our team of restroom experts will address every detail of cleanliness in your facilities, and will give you peace of mind, knowing that your restrooms are clean, safe and sanitary each and every day.
                </p>
				 </div>
    </div>
        <div class="col-sm-4">
      <p class="text-center"><strong>Spa Cleaning and Sanitation</strong></p><br>
      <a href="#demo4" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Spa-Cleaning-and-Sanitation_zpsee6mlvis.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p>Anointed Blessing Services understands the high expectations of your spa guests and will provide you a professional, dedicated and knowledgeable staff to undertake 
		<br />the highest levels of cleaning and sanitation in your high impact spa environment. Utilizing state of the art cleaning processes and chemicals, 
		<br />you can rest assured that your facility will be clean and sanitary and your customer’s spa experience will be the best it can be. Please contact us today to receive a quote.</p>
      </div>
    </div>
	
	<div class="col-sm-4">
      <p class="text-center"><strong>Commercial Office Cleaning</strong></p><br>
      <a href="#demo5" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Commercial-Office-Cleaning_zpsrq7r5oim.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo5" class="collapse">
        <p>We are your one stop shop for all things janitorial. We handle everything form hard floor cleaning and carpet care and extraction, to general cleaning and dusting, restroom cleaning and sanitation and interior glass cleaning.
                <br>We utilize state of the art cleaning equipment and chemicals and we have the dedicated staff to handle any job.</p>
      </div>
    </div>
	
	
	 <div class="col-sm-4">
      <p class="text-center"><strong>Commercial Kitchen Cleaning</strong></p><br>
      <a href="#demo6" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Commercial-Kitchen-Cleaning_zpsxnbfgp79.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
	  <div id="demo6" class="collapse">
	<p>Commercial kitchen cleaning is critical to the overall guest experience. When your guests dine in your restaurant, you want the peace of 
	<br />mind to know that the product being produced in your kitchen has been prepared in a thoroughly clean and sanitary environment. 
	<br />Hotel Cleaning Services has the expertise to provide that environment. Our dedicated staff will take the hassle out of kitchen cleanliness. 
	<br />And we can address it all, from breaking down and detail cleaning all kitchen equipment and ovens, to cleaning hoods and filters, to 
	<br />scrubbing walls, floors and floor drains, to cleaning ceiling vents. Your culinary team should have one concern and that is producing the 
	<br />best food possible for your guests. Hotel Cleaning Services will set your culinary team up for success by providing a clean, safe and 
	<br />sanitary kitchen environment to work in, each and every day.
                <br>Your free quote is only a phone call away</p>
      </div>
    </div>

	<div class="col-sm-4">
      <p class="text-center"><strong>Restaurant Cleaning</strong></p><br>
      <a href="#demo7" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Restaurant-Cleaning_zps8ozkgy81.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo7" class="collapse">
        <p>Please contact us today for your free quote.We understand that restaurant cleanliness is paramount to the success of your establishment. 
		<br />Hotel Cleaning Services provides the experience and know how to keep your facility looking its best. From the dining room, to the bar, 
		<br />to the commercial kitchen, we will make your facility shine. Hotel Cleaning Services will partner with you to make sure that every 
		<br />guest experience is exceptional as it relates to the appearance and cleanliness of your restaurant
        <br />We utilize state of the art cleaning equipment and chemicals and we have the dedicated staff to handle any job.</p>
      </div>
    </div>
	
	
	<div class="col-sm-4">
      <p class="text-center"><strong>Escalator Cleaning</strong></p><br>
      <a href="#demo8" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Escalator-Cleaning_zpsb2mqyk6e.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo8" class="collapse">
        <p>Your escalators are one of the most heavily trafficked areas in the hotel and could certainly use our tender loving care. 
		<p>This constant use can quickly diminish their look and luster. Hotel Cleaning Services professional staff can maintain the appearance of your escalators.</p>
		<p>All stainless steel surfaces and landing plates will be cleaned and polished to perfection.</p>
        <p>All treads and risers will be scrubbed to remove all soil and debris in the tracks.</p> 
		<p>All clear or glass surfaces will be cleaned and shined.</p>Our team can help you keep your escalators looking their best.</p>
      </div>
    </div>
	
	
	<div class="col-sm-4">
      <p class="text-center"><strong>Carpet Care and Extraction</strong></p><br>
      <a href="#demo9" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Carpet-Care-Extraction_zpsiij2i1ym.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo9" class="collapse">
        <p>Anointed Blessing Cleaning Services can develop and implement a carpet cleaning program specific to your property that will keep 
		<br />your carpet looking its best. Our knowledgeable and dedicated staff will handle everything from spot cleaning, 
		<br />to low moisture encapsulation to hot water extraction, to keep your carpet looking like new.</p>
      </div>
    </div>
	
	<div class="col-sm-4">
      <p class="text-center"><strong>Construction Clean-Up</strong></p><br>
      <a href="#demo10" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Construction-Clean-Up_zpsmskvtdmq.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo10" class="collapse">
        <p>At Anointed Blessing Cleaning Services, We provide these services in a number of areas including brand new builds, renovations, restorations, additions, upgrades and remodels. 
		<p>Our dedicated staff will go above and beyond to make sure you are completely satisfied.</p>
		<br />When image is important, let Hotel Cleaning Services make you look your best..</p>
      </div>
    </div>
	
	<div class="col-sm-4">
      <p class="text-center"><strong>Stone Countertop Restoration</strong></p><br>
      <a href="#demo10" data-toggle="collapse">
        <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/Stone-Marble-Maint-Restoration_zpsimcuka5z.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo10" class="collapse">
        <p>One of the most abused areas in your property is the stone counter tops in your food & beverage outlets and in your restrooms. 
		<p>These surfaces are bombarded daily with water, spilled wine and other beverages, spilled food, soap residue, cleaning chemicals, grease, etc.</p>
		<br />With this constant barrage, it does not take long for the stone surfaces to lose their beauty and luster. We have the expertise to restore those counter tops back to their original luster and beautiful. 
		Let our expert go to work for you.</p>
      </div>
    </div>
	
  </div>
</div>
